PostgresHostPort=
PostgresPort=
PostgresUser=
PostgresPassword=
PostgresDb=

Kafka__Tasks__BootstrapServers=
Kafka__Tasks__Topic=EMAIL_SENDING_TASKS
Kafka__GroupId__Topic=

Quartz__CronSchedule=0 * * ? * *