# DB Section
PostgresHostPort=
PostgresPort=
PostgresUser=
PostgresPassword=

BaseUrl=http://localhost:8080/
JsClient=http://localhost:4173

# JWT Section
Jwt__SecretKey=
Jwt__Issuer=
Jwt__Audience=
Jwt__ExpiresHours=

# Kafka
Kafka__Tasks__BootstrapServers=localhost:9092
Kafka__Tasks__Topic=EMAIL_SENDING_TASKS
Kafka__GroupId__Topic=